.sidebar {
  position: relative;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgb(214, 213, 213);
}

.sidbar-Ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidbar-Ul .item {
  font-size: 24px;
  list-style: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.2s;
}

.sidbar-Ul .item:hover {
  color: #4481eb;
}

.personImg img {
  border-radius: 50%;
}

.personImg {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.nav {
  opacity: 0;
  position: absolute;
  padding: 5px 10px;
  background-color: azure;
  border-radius: 12px;
  bottom: 50px;
  left: 20px;
  transition: all 0.2s;
}

.nav.acitve {
  opacity: 1;
  width: 300px;
  height: 200px;
  transition: all 0.2s;
}

.personNav li {
  margin-top: 20px;
  color: #000;
  border-bottom: 1px solid black;
  list-style: none;
}
